stages:
  - init
  - build
  - test
  - finish

.deps:
  before_script:
    - bash schutzbot/append_team_ssh_keys.sh
    - curl -fsSL https://get.docker.com -o get-docker.sh
    - sudo sh get-docker.sh
    - sudo systemctl start docker
    - sudo docker login "${QUAY_IO_CONTAINER_URL}" -u ${QUAY_USERNAME} -p ${QUAY_PASSWORD}
  variables:
    RUNNER: aws/fedora-43-x86_64
    INTERNAL_NETWORK: "true"
    QUAY_IO_CONTAINER_URL: quay.io/cloudexperience/cloud-image-val
  tags:
    - terraform

.tests:
  extends: .deps
  after_script:
    - schutzbot/update_github_status.sh update || true
    - echo https://redhat.gitlab.io/-/services/products/image-builder/ci/cloud-image-val-ci/-/jobs/${CI_JOB_ID}/artifacts/report.html
  retry: 1
  artifacts:
    paths:
      - report.html
    when: always

prepare-rhel-internal-runners:
  stage: build
  before_script:
    - bash schutzbot/append_team_ssh_keys.sh
  rules:
    - if: $NIGHTLY == "true"
  script:
    - schutzbot/prepare-rhel-internal.sh
  artifacts:
    paths:
      - rhel-${RHEL_MAJOR}.json
      - rhel${RHEL_MAJOR}internal.repo
      - COMPOSE_ID
  tags:
    - terraform
  parallel:
    matrix:
      - RUNNER:
          # NOTE: 1 runner prepares for all arches b/c subsequent jobs download
          # artifacts from all previous jobs and the last one wins
          - aws/rhel-10.1-nightly-x86_64
        INTERNAL_NIGHTLY: [ "internal" ]
        INTERNAL_NETWORK: [ "true" ]
        NIGHTLY: [ "true" ]

include:
  - local: ci/.gitlab-ci-cloud-experience.yaml
  - local: ci/.gitlab-ci-image-builder.yaml
