stages:
  - init
  - build
  - test
  - finish

.deps:
  before_script:
    - cat schutzbot/team_ssh_keys.txt | tee -a ~/.ssh/authorized_keys > /dev/null
    - sudo dnf update -y && sudo dnf install -y podman
  variables:
    RUNNER: aws/fedora-35-x86_64
    QUAY_IO_CONTAINER_URL: quay.io/cloudexperience/cloud-image-val-test
  tags:
    - terraform

.tests:
  extends: .deps
  after_script:
    - schutzbot/update_github_status.sh update || true
    - echo https://redhat.gitlab.io/-/services/products/image-builder/ci/cloud-image-val-ci/-/jobs/${CI_JOB_ID}/artifacts/report.html
  artifacts:
    paths:
      - report.html
    when: always

init:
  stage: init
  script:
    - schutzbot/update_github_status.sh start

branch_container:
  extends: .deps
  stage: build
  script:
    - sudo podman build -t civ:"${CI_COMMIT_REF_SLUG}" .
    - IMAGE_ID="$(sudo podman images --filter reference="localhost/civ" --quiet)"
    - |
      sudo podman push --creds ${QUAY_USERNAME}:${QUAY_PASSWORD} \
      "${IMAGE_ID}" "${QUAY_IO_CONTAINER_URL}":"${CI_COMMIT_REF_SLUG}"

aws:
  stage: test
  extends: .tests
  script:
    - sudo podman pull --creds ${QUAY_USERNAME}:${QUAY_PASSWORD} "${QUAY_IO_CONTAINER_URL}":"${CI_COMMIT_REF_SLUG}"
    - |
      sudo podman run \
      -a stdout -a stderr \
      -e AWS_ACCESS_KEY_ID="${AWS_ACCESS_KEY_ID}" \
      -e AWS_SECRET_ACCESS_KEY="${AWS_SECRET_ACCESS_KEY}" \
      -e AWS_REGION="${AWS_REGION}" \
      -v ./:/tmp:Z \
      "${QUAY_IO_CONTAINER_URL}":"${CI_COMMIT_REF_SLUG}" \
      python cloud-image-val.py -r cloud/sample/resources_aws_marketplace.json -d -p -o /tmp/report.xml

azure:
  stage: test
  extends: .tests
  script:
    - sudo podman pull --creds ${QUAY_USERNAME}:${QUAY_PASSWORD} "${QUAY_IO_CONTAINER_URL}":"${CI_COMMIT_REF_SLUG}"
    - |
      sudo podman run \
      -a stdout -a stderr \
      -e ARM_CLIENT_ID="${AZURE_CLIENT_ID}" \
      -e ARM_CLIENT_SECRET="${AZURE_CLIENT_SECRET}" \
      -e ARM_SUBSCRIPTION_ID="${AZURE_SUBSCRIPTION_ID}" \
      -e ARM_TENANT_ID="${AZURE_TENANT_ID}" \
      -v ./:/tmp:Z \
      "${QUAY_IO_CONTAINER_URL}":"${CI_COMMIT_REF_SLUG}" \
      python cloud-image-val.py -r cloud/sample/resources_azure_marketplace.json -d -p -o /tmp/report.xml

finish:
  stage: finish
  script:
    - schutzbot/update_github_status.sh finish
