pytest==7.1.1
pytest-mock==3.7.0
pytest-cov==3.0.0
pytest-testinfra==6.7.0
pytest-order==1.0.1
pytest-xdist==2.5.0
pytest-rerunfailures==10.2
pytest-html==3.1.1
sshconf==0.2.5
flake8==3.8.4
argparse==1.4.0
py==1.11.0
paramiko==2.10.3
awscli==1.22.67